{
  "presets": [
    "env",
    "stage-0"
  ],
  "plugins": [
    "transform-object-assign",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "utils": "utils"
      }
    }]
  ]
}
