language: node_js
node_js:
  - "node"
addons:
  apt:
    sources:
    - sqlite3
    - sourceline: 'ppa:travis-ci/sqlite3'
script:
  - yarn run lint
  - yarn run test
branches:
only:
  - master
cache:
yarn: true
services:
  - postgresql
